
header {
    background-color: #2f2339;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section.transport {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color:#2f2339;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
